.pagination{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.pagination-button{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.pagination-button:hover{
    background: #E1E1E1;
}

.selected{
    background: #0087E9;
}